# This is a basic workflow to help you get started with Actions
name: CI

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    tags:
      - '**'
    branches:
      - '!**'
  pull_request:
    branches:
      - '**'
  
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0}
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      
      # Install miniconda and create environment
      - uses: conda-incubator/setup-miniconda@v2
        with:
          miniconda-version: "latest"
          auto-update-conda: "false"
          environment-file: environment.yml    
          activate-environment: python-env
      
      # # Install github libraries with pip and --no-deps option
      # - name: Install python dependencies from github with --no-deps option
      #   run: pip install git+git://github.com/IHCantabria/datahub.client.git@v0.8.6#egg=datahubClient --no-deps

      # Unzip data for testing
      - name: Extract some files
        run: 7z x tests/data.zip -otests/    
      
      # Run tests
      - name: Generate coverage report
        run: pytest  --cov=./

      - name: Generate coverage badage
        run: coverage-badge -o coverage.svg -f
      
